.vscode/**
.vscode-test/**
out/test/**
.vscode-test.mjs
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/node-pty/build/Release/obj/**
node_modules/node-pty/build/Release/*.pdb
node_modules/node-pty/src/**
node_modules/node-pty/scripts/**
node_modules/node-pty/deps/**
node_modules/node-pty/.github/**
images/screenshot.png
/extension_package/**
